$primary: #1786f9;
$accent: #00fefb;
$background: #f6f9ff;

body::-webkit-scrollbar {
  width: 5px;
  border-radius: 2px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px $primary;
}

body::-webkit-scrollbar-thumb {
  background-color: $primary;
  outline: 1px solid $primary;
  border-radius: 5px;
}

.custom-popup {
  position: fixed;
  top: 0;

  display: none;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  left: 0;

  .close-popup {
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1);
    &:hover {
      transform: scale(1.15);
    }
  }
}
