.isStar {
  z-index: 9990;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
  &:hover i {
    opacity: 0.6;
  }
}

.isRead {
  cursor: pointer;
  z-index: 9990;
  position: relative;
  .mark-read {
    display: block;
  }
  .mark-unread {
    display: none;
  }
  &.read {
    .mark-read {
      display: none;
    }
    .mark-unread {
      display: block;
    }
  }
}
.cf-body tr.read {
background-color: rgba(127, 127, 127, 0.25) !important;
}